<div id="colorPicker" class="flex flex-row gap-1"></div>

<div id="canvasControl">
	<div>
		Width:
		<input type="number" name="width" class="canvasDimension border p-2" />
	</div>

	<div>
		Height:
		<input type="number" name="height" class="canvasDimension border p-2" />
	</div>

</div>

<div id="canvas" class="select-none"></div>

<script src="/js/nftDrawing.js"></script>